{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron" style="background-image: url(https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge_wm_blb/public/article_images/2017/08/Android-Oreo-AMOLED-wallpaper_1.jpg?itok=yNJboAV5); 
                                      background-repeat: no-repeat;
                                      background-size: cover">
        <div class="text-white text-center py-5 px-4 my-5">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to Pitch </strong></h2>
                <p class="mx-5 mb-5">Where your creativity is boundless! Please feel free to explore the pitches in the
                    categories provided below and add your own ideas to the vibrant community.
                </p>
                <hr>
                <a class="btn btn-outline-white btn-md" href="/pickup"><i class="fas fa-clone left"></i>
                    <h4>Pick up lines</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/entertainment"><i class="fas fa-clone left"></i>
                    <h4>Entertainment</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/motivational"><i class="fas fa-clone left"></i>
                    <h4>Motivational</h4>
                </a>
                <a class="btn btn-outline-white btn-md" href="/pitch/new"><i class="fas fa-clone left"></i>
                    <h4>New pitch</h4>
                </a>
            </div>
        </div>
    </div>
    <!-- Card Dark -->
    <div class="card">

        <div class="view overlay">

            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
    </div>
    <!-- Card Dark -->

</div>




    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> James Gathuru</a>
    </div>
    <!-- Copyright -->



{% endblock %}